.gruposCategorias {
  margin: 40px 0 40px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  width: 100%;
}

.cortos {
position: relative;
display: inline-block;
  margin: auto;
  width: 1000px;
  height: 245px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  width: 100%;
}

.contenedorMainCategoria {
  background-color: #f0ecd4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

.contenedorMainCategoriafilms {
  background-color: #f0ecd4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

.cortos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}


.tituloFiccion {
  margin: 50px 0 15px 0;
  text-align: center;
}

.tituloFiccionLetra {
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
}

.tituloCategoria{
  background: linear-gradient(to top,rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0) 80%);
  width: 100%;
    position: absolute;
    bottom: 0px;
    right: 4px;
    padding: 5px;
    opacity: 0;
    transition: opacity 1.2s ease;
}

.cortos:hover .tituloCategoria {
    opacity: 1; /* Cuando se pasa el mouse por encima, el título se muestra gradualmente */
    cursor: pointer;
}

@media only screen and (max-width: 707px){
  

  .navDiv {
    height: 40px;
    background: linear-gradient(to right, #494949, #272727 35%);
  }
  .tituloCategoria{
    visibility: visible;
    opacity: 1;
  }
    .titulo{
      color: rgba(255, 255, 255, 0.952);
      font-size: 30px !important;
      text-shadow: 0 0 2px #000000b6; 
  }

  .fa-house {
    display: block;
    position: absolute !important;
    top: 8px;
    left: 4px;
  }

}

.titulo{
    color: rgba(255, 255, 255, 0.952);
    font-size: 60px;
}

.fa-house {
  display: block;
  position: static;
  margin-top: 1px;
  margin-left: 5px;
  font-size: 22px;
}



