.galeriaVideo{
    width: 100%;
    margin: 40px 0;
    display: grid;
    justify-content: center;
}

.galeriaFramesMatarCuco {
    width: 73%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 32px;
    margin: 40px 0;  
}

.galeriaFramesMatarCuco img {
    width: 100%;
    cursor: pointer;
}

.galeriaFrames {
    width: 73%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 32px;
    margin: 40px 0;
}

.galeriaFrames img {
    width: 100%;
    cursor: pointer;
}

.btnVolverEnlace {
    text-decoration: none;
    position: absolute;
    left: 7px;
    top: 2px;
}

.btnVolverLetra {
    color: aliceblue;
    font-size: 22px;
    font-family: "Monserrat";
}

.tituloGaleria {
    margin: 35px 0 10px 0;
}

.tituloGaleriaTexto {
    font-family: "Monserrat";
    font-size: 40PX;
}

.fa-circle-chevron-left {
    color: #f5df96;
    position: absolute;
    top: 11px;
    left: 8px;
    font-size: 25px;
}

.fa-circle-chevron-left:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}