.galeriaVideo{
    margin: 40px 0 !important;
    display: grid;
    justify-content: center;
}

.galeriaFramesMatarCuco {
    width: 73%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-row-gap: 8px;
    margin: 40px 0;  
}

.navDivWorkVideo {
    height: 25px;
}

.galeriaFramesMatarCuco img {
    width: 100%;
    cursor: pointer;
}

.galeriaFrames {
    width: 73%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 40px 0;
}

.galeriaFrames img {
    width: 100%;
    cursor: pointer;
    
}

.btnVolverEnlace {
    text-decoration: none;
    position: absolute;
    left: 7px;
    top: 2px;
}

.btnVolverLetra {
    color: aliceblue;
    font-size: 22px;
    font-family: "Monserrat";
}

.tituloGaleria {
    margin: 35px 0 10px 0;
}

.tituloGaleriaTexto {
    font-family: "Monserrat";
    font-size: 40PX;
}

.fa-circle-chevron-left {
    color: #f5df96;
    position: absolute;
    top: 1px;
    left: 5px;
    font-size: 20px;
}

@media only screen and (max-width: 707px){

    .navDivWorkVideo {
        height: 40px !important;
    }
    .fa-circle-chevron-left {
        color: #f5df96a6;
        position: absolute;
        top: 10px;
        left: 4px;
        font-size: 15px !important;
    }

    .galeriaFramesMatarCuco {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        grid-row-gap: 8px;
    }

    .galeriaFrames {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin: 40px 0;
    }
  }

.fa-circle-chevron-left:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
